{% extends 'base.html' %}

{% block head %}
<title>경기도 지역화폐 가맹점</title>
<style>
    html,
    body {
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px
    }
</style>
{% endblock %}

{% block body %}
<h1>용인시 기흥구 지역화폐 가맹점 찾기</h1>

<form action='{{ url_for("search") }}' method='POST'>
    <div class="input-group">
            <select class="custom-select" id="select_gu" name="select_gu" onchange="categoryChange(this)">
                <option value="기흥구" selected>기흥구</option>
                <option value="수지구">수지구</option>
            </select>
            <select class="custom-select" id="select_dong" name="select_dong">
                {% for dong in dong_list %}
                    {% if dong == selected_dong %}
                        <option value="{{ dong }}" selected>{{ dong }}</option>
                    {% else %}
                        <option value="{{ dong }}">{{ dong }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <script type="text/javascript">
            function categoryChange(e) {
                var giheung = ['고매동',  '공세동',  '구갈동',  '농서동',  '동백동',  '마북동',  '보라동',
                                '보정동',  '상갈동',  '상하동',  '서천동',  '신갈동',  '언남동',  '영덕동',  '지곡동',  '청덕동',  '하갈동'];
                var suji = ['고기동', '동천동', '상현동', '성복동', '신봉동', '죽전동', '풍덕천동'];
                var target = document.getElementById("select_dong");
            
                if(e.value == "기흥구") var d = giheung;
                else if(e.value == "수지구") var d = suji;
            
                target.options.length = 0;
            
                for (x in d) {
                    var opt = document.createElement("option");
                    opt.value = d[x];
                    opt.innerHTML = d[x];
                    target.appendChild(opt);
                }
            }
            </script>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </div>
</form>
{% endblock %}