{% extends 'base.html' %}

{% block head %}
<title>용인시 지역화폐 가맹점 검색 서비스</title>
<style>
    html,
    body {
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px
    }
</style>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=6nk39jrdys"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'MarkerOverlappingRecognizer.js') }}"></script>
{% endblock %}

{% block body %}
<br>
<h1>용인시 {{selected_gu}} {{selected_dong}} 지역화폐 가맹점</h1>

<form action='{{ url_for("search") }}' method='POST'>
    <div class="input-group">
            <select class="custom-select" id="select_gu" name="select_gu" onchange="categoryChange(this)">
                {% for gu in ['기흥구', '수지구'] %}
                    {% if gu == selected_gu %}
                        <option value="{{ gu }}" selected>{{ gu }}</option>
                    {% else %}
                        <option value="{{ gu }}">{{ gu }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <select class="custom-select" id="select_dong" name="select_dong">
                {% for dong in dong_list %}
                    {% if dong == selected_dong %}
                        <option value="{{ dong }}" selected>{{ dong }}</option>
                    {% else %}
                        <option value="{{ dong }}">{{ dong }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <script type="text/javascript">
            function categoryChange(e) {
                var giheung = ['고매동',  '공세동',  '구갈동',  '농서동',  '동백동',  '마북동',  '보라동',
                                '보정동',  '상갈동',  '상하동',  '서천동',  '신갈동',  '언남동',  '영덕동',  '지곡동',  '청덕동',  '하갈동'];
                var suji = ['고기동', '동천동', '상현동', '성복동', '신봉동', '죽전동', '풍덕천동'];
                var target = document.getElementById("select_dong");
            
                if(e.value == "기흥구") var d = giheung;
                else if(e.value == "수지구") var d = suji;
            
                target.options.length = 0;
            
                for (x in d) {
                    var opt = document.createElement("option");
                    opt.value = d[x];
                    opt.innerHTML = d[x];
                    target.appendChild(opt);
                }
            }
            </script>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
        <br>
    </div>
</form>
<br>
<p> 카테고리 : 일반음식점-A, 병의원/약국-B, 학원-C, 문화/취미-D, 의류-E, 유통업-F, 보건위생-G, 기타-H </p>

<div id="map" style="width:100%;height:600px"></div>

<script>
var MARKER_ICON_URL = 'https://ssl.pstatic.net/static/maps/img/icons/sp_pins_spot_v3.png';
var MARKER_HIGHLIGHT_ICON_URL = 'https://ssl.pstatic.net/static/maps/img/icons/sp_pins_spot_v3_over.png';
    

// 마커를 표시할 위치와 title 객체 배열입니다
var titles = [];
{% for title in titles %}
    titles.push({'title' : "{{ title }}"});
{% endfor %}

var positions = [];
{% for lat, lng in pos_data %}
    positions.push({'latlng' : new naver.maps.LatLng({{ lat }}, {{ lng }})});
{% endfor %}

var categories = [];
{% for i in category %}
    categories.push({{ i }});
{% endfor %}


var map = new naver.maps.Map('map', {
    center: new naver.maps.LatLng({{center_lat}}, {{center_lng}}),
    level: 10,
    zoomControl: true, //줌 컨트롤의 표시 여부
        zoomControlOptions: { //줌 컨트롤의 옵션
            position: naver.maps.Position.TOP_RIGHT
        }
});

var recognizer = new MarkerOverlappingRecognizer({
        highlightRect: false,
        tolerance: 5
    });
    
recognizer.setMap(map);

var bounds = map.getBounds(),
    southWest = bounds.getSW(),
    northEast = bounds.getNE(),
    lngSpan = northEast.lng() - southWest.lng(),
    latSpan = northEast.lat() - southWest.lat();

function highlightMarker(marker) {
    var icon = marker.getIcon();

    if (icon.url !== MARKER_HIGHLIGHT_ICON_URL) {
        icon.url = MARKER_HIGHLIGHT_ICON_URL;
        marker.setIcon(icon);
    }

    marker.setZIndex(1000);
}

function unhighlightMarker(marker) {
    var icon = marker.getIcon();

    if (icon.url === MARKER_HIGHLIGHT_ICON_URL) {
        icon.url = MARKER_ICON_URL;
        marker.setIcon(icon);
    }

    marker.setZIndex(100);
}

var markers = [],
    infoWindows = [];

    for (var i = 0; i < positions.length; i ++) {

    var position = new naver.maps.LatLng(
        southWest.lat() + latSpan * Math.random(),
        southWest.lng() + lngSpan * Math.random());

    var marker = new naver.maps.Marker({
        map: map,
        position: positions[i].latlng, // 마커의 위치
        title: titles[i].title,
        icon: {
            url: MARKER_ICON_URL,
            size: new naver.maps.Size(24, 37),
            anchor: new naver.maps.Point(12, 37),
            origin: categories[i]
        },
        shape: {
            coords: [11, 0, 9, 0, 6, 1, 4, 2, 2, 4,
                0, 8, 0, 12, 1, 14, 2, 16, 5, 19,
                5, 20, 6, 23, 8, 26, 9, 30, 9, 34,
                13, 34, 13, 30, 14, 26, 16, 23, 17, 20,
                17, 19, 20, 16, 21, 14, 22, 12, 22, 12,
                22, 8, 20, 4, 18, 2, 16, 1, 13, 0],
            type: 'poly'
        },
        zIndex: 100
    });

    marker.addListener('mouseover', function(e) {
            highlightMarker(e.overlay);
    });
    marker.addListener('mouseout', function(e) {
        unhighlightMarker(e.overlay);
    });
    marker.addListener('click', function(e) {
        var m = e.overlay;

        alert(m.title);
    });

    recognizer.add(marker);

    window.MARKER = marker;

    };

    // var infoWindow = new naver.maps.InfoWindow({
    //     content: titles[i].title
    // });

    

    var overlapCoverMarker = null;

    naver.maps.Event.addListener(recognizer, 'overlap', function(list) {
        if (overlapCoverMarker) {
            unhighlightMarker(overlapCoverMarker);
        }

        overlapCoverMarker = list[0].marker;

        naver.maps.Event.once(overlapCoverMarker, 'mouseout', function() {
            highlightMarker(overlapCoverMarker);
        });
    });

    naver.maps.Event.addListener(recognizer, 'clickItem', function(e) {
        recognizer.hide();

        if (overlapCoverMarker) {
            unhighlightMarker(overlapCoverMarker);

            overlapCoverMarker = null;
        }
    });

    // map.setZoom(7);

</script>
{% endblock %}