{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Welcome to the kamzzang' Home! Here I'll be talking about evetything python and data science.</p>
            <p>Go visit at below links to check out more cool stuff beyond just blogs.</p>
            <a href="https://github.com/kamzzang">Github Repository</a>
            <br>
            <a href="https://blog.naver.com/kamzzang1">Naver Blog</a>
            <br>
            <br>
            <p>
                <a class="btn btn-primary" href="/gmoney" role="button">경기지역화폐(용인시 기흥구/수지구) 가맹점 찾기 &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}